<ion-view>
  <ion-content>
      <div class="list text-center logo">
        <img src="img/ionic.png"><br>
        <h1 class="color-blue">Nextgen Care</h1>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Email Id">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
        <button class="button button-block button-positive blue" ng-click="doLogin()">Log in</button>
      </div>
  </ion-content>
</ion-view>