<ion-view >
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="patient in patients track by $index" href="#/app/patients/{{patient.id}}">
        <div class="row">
        	<div class="col col-10" ng-show="patient.alert"><i class="ion-alert red"></i></div>
		  	<div class="col col-25"><img class="avatar" ng-src="{{patient.image}}"></div>
		  	<div class="col col-65">
			  	<h2>{{patient.name[0].text}}</h2>
			  	<p>{{patient.gender.coding[0].display}} | {{patient.age}} Yrs</p>
			  	<p>{{patient.address[0].line[0]}}, {{patient.address[0].city}}, {{patient.address[0].state}}, {{patient.address[0].zip}}</p>
		  </div>
		  <div class="col col-10 big"><i class="{{patient.status}}"></i></div>
		</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
