<ion-view >
  <ion-content>
  	<div class="row blue" ng-init="showGraph()">
  		<div class="col text-center" >
  			<h2 class="white light-text">{{patient.name[0].text}}</h2>
  			<p class="white light-text">{{patient.gender.coding[0].display}} | {{patient.age}} Yrs</p>
        <p class="white light-text">{{patient.telecom[0].value}}</p>
        <p class="white light-text">{{patient.telecom[1].value}}</p>
        <p class="white light-text">{{patient.address[0].line[0]}}, {{patient.address[0].city}}, {{patient.address[0].state}}, {{patient.address[0].zip}}</p>
       

  			<img class="avatar" style="width:38%;margin-bottom: 50px;margin-top:10px" ng-src="{{patient.image}}">
  			<div class="list">
  			  <div class="col ultra-light text-center white">Good Mood</div>
			  <div class="item range range-positive">
			    <i class="icon ion-happy-outline"></i>
			    <input type="range" name="volume" min="0" max="100" value="33" readonly disabled>
			    <i class="icon ion-sad-outline"></i>
			  </div>
			</div>
  		</div>
  	</div>
  	<div class="row" style="border-bottom: 1px solid #f5f5f5;">
  		<div class="col padding">
  			<h4 class="black ultra-light text-center">Sleep Analytics</h4>
  			<div id="chart" style="max-height:70px"></div>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col text-center">
  			<h4  class="black ultra-light text-center">Temperature</h3>
  			<p class="vitals light-black padding">36.7<span class="unit">C</span></p>
  		</div>
  		<div class="col text-center">
  			<h4  class="black ultra-light text-center">Calories Burnt</h4>
  			<p class="vitals light-black padding">537 <span class="unit">cal</span></p>
  		</div>
  	</div>
  	<div class="row ">
  		<div class="col text-center">
  			<h4  class="black ultra-light text-center">Heart Rate</h4>
  			<p class="vitals light-black padding">87 <span class="unit">bpm</span></p>
  		</div>
  		<div class="col text-center">
  			<h4  class="black ultra-light text-center">Steps Today</h4>
  			<p class="vitals light-black padding">4578</p>
  		</div>
  	</div>
  	<div class="row ">
  		<div class="col text-center">
  			<h4  class=" ultra-light text-center">Pain Level</h4>
  			<div id="chart1" style="max-height:70px"></div>
  		</div>
  	</div>
  	<div class="list card">
  		<div class="col text-center">
  			<h4 class=" ultra-light text-center">Appointments</h4>
			  <div class="item item-text-wrap">
				<div class="row">
					<div class="col"><p class=" col" >24th <span class="unit">July</span><br>11 A.M</p></div>
					<div class="col"><p class=" col">Dr. Gene</p></div>
				</div>
			  </div>
  		</div>
  	</div>
  	<div class="list card">

	  <a href="#/app/refer/{{patient.id}}" class="item item-icon-left">
	    <i class="icon ion-forward color-blue"></i>
	    Refer
	  </a>

	  <a href="tel:+1 {{patient.telecom[1].value}}" class="item item-icon-left" ng-if="patient.telecom[1].value">
	    <i class="icon ion-ios-telephone color-blue" ></i>
	    Phone number
	  </a>

	  <a href="#/app/message/{{patient.id}}" class="item item-icon-left">
	    <i class="icon ion-chatbubbles color-blue"></i>
	    Message
	  </a>

	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-alert-circled color-blue"></i>
	    Emergency
	  </a>
	  <a href="#/app/schedule/{{patient.id}}" class="item item-icon-left">
	    <i class="icon ion-calendar color-blue"></i>
	    Schedule Appointment
	  </a>

	</div>
  </ion-content>
</ion-view>
