<ion-view>
  <ion-content>
    <div class="list">
      <div class="item item-avatar" href="#">
        <img src="http://api.randomuser.me/portraits/med/women/1.jpg">
        <h2>Venkman</h2>
        <p>Schedule Appointment</p>
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="date" placeholder="Date">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Time</span>
        <input type="time" placeholder="Date">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments"></textarea>
      </label>
      <div class="padding">
        <button class="button button-block button-positive">Schedule</button>
      </div>
    </div>
  </ion-content>
</ion-view>
