/* Empty. Add your own CSS if you like */
.button-positive{
	background: rgb(21, 125, 251)
}
body{
	color:#2B2B2B;
	background: #F7F7F7;
}
.green{
	color: #4CD964
}
.avatar{
	border-radius: 50%;
	width: 100%
}
.big{
	font-size: 20px
}
.red{
	color:#FF3A2D
}
.text-center{
	text-align: center;
}
.blue{
	background:#34AADC
}
.bar.bar-stable{
	background-color: #34AADC;color: #fff;
	border:none;
}
.light-text{
	font-weight: normal;
}
.white{
	color:#fff;
}
.black{color:#2B2B2B;}
.light-black{color:#8E8E93}
.thumb-icons{
	color: #fff;
  background-color: #007AFF;
  border-radius: 50%;
}
.padding{
	padding:20px 10px;
}
.vitals{font-size: 36px;font-weight: lighter;}
.unit{font-size:13px; }
.ultra-light{  font-size: 12px;
  text-transform: uppercase;}
  .bar.bar-stable .title,.bar-stable .button.button-icon,.bar-stable .button.button-clear{color:white;}
  .border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
calendar {
  float: left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
calendar >div.header {
  float: left;
  width: 100%;
  background: #34AADC;
  height: 40px;
  color: white;
}
calendar >div.header >* {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
calendar >div.header >i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
calendar >div.header >i.fa-angle-left {
  text-align: left;
}
calendar >div.header >i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}
calendar >div.header >span {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
calendar >div.week {
  float: left;
  width: 100%;
  border-top: solid 1px #CCC;
}
calendar >div.week:first-child {
  border-top: none;
}
calendar >div.week >span.day {
  float: left;
  width: 14.285714285714%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #CCC;
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: black;
}
calendar >div.week >span.day:first-child {
  border-left: none;
}
calendar >div.week >span.day.today {
  background: #E3F2FF;
}
calendar >div.week >span.day.different-month {
  color: #C0C0C0;
}
calendar >div.week >span.day.selected {
  background: #34AADC;
  color: white;
}
calendar >div.week.names>span {
  color: #34AADC;
  font-weight: normal;
}
.border{
  border:2px solid #34AADC;
  margin: 0 20px;
}