/* Empty. Add your own CSS if you like */
.button-positive{
	background: rgb(21, 125, 251)
}
body{
	color:#2B2B2B;
	background: #F7F7F7;
}
.green{
	color: #4CD964
}
.avatar{
	border-radius: 50%;
	width: 100%
}
.big{
	font-size: 20px
}
.red{
	color:#FF3A2D
}
.text-center{
	text-align: center;
}
.blue{
	background:#34AADC
}
.bar.bar-stable{
	background-color: #34AADC;color: #fff;
	border:none;
}
.light-text{
	font-weight: normal;
}
.white{
	color:#fff;
}
.black{color:#2B2B2B;}
.light-black{color:#8E8E93}
.thumb-icons{
	color: #fff;
  background-color: #007AFF;
  border-radius: 50%;
}
.padding{
	padding:20px 10px;
}
.vitals{font-size: 36px;font-weight: lighter;}
.unit{font-size:13px; }
.ultra-light{  font-size: 12px;
  text-transform: uppercase;}
  .bar.bar-stable .title,.bar-stable .button.button-icon{color:white;}